<app-sidenav>
  <div
    class="container"
    style="padding: 30px"
    *ngIf="neededData$ | async as data"
  >
    <header class="d-flex align-items-center justify-content-between">
      <span class="h3">Dashboard</span>
    </header>
    <div class="row gap-4">
      <div class="col-sm">
        <div class="row gap-2">
          <mat-card class="col-sm">
            <mat-card-subtitle>Pending Curriculums</mat-card-subtitle>
            <mat-card-title>{{ data.pendingCurriculums }}</mat-card-title>
          </mat-card>
          <mat-card class="col-sm">
            <mat-card-subtitle>Pending Revisions</mat-card-subtitle>
            <mat-card-title>{{ data.pendingRevisions }}</mat-card-title>
          </mat-card>
        </div>

        <div class="row gap-2">
          <mat-card class="col-sm">
            <mat-card-subtitle>Active Curriculums</mat-card-subtitle>
            <mat-card-title>{{ data.activeCurriculums }}</mat-card-title>
          </mat-card>
          <mat-card class="col-sm">
            <mat-card-subtitle>Approve Revisions</mat-card-subtitle>
            <mat-card-title>{{ data.approvedRevisions }}</mat-card-title>
          </mat-card>
        </div>

        <div class="row gap-2">
          <mat-card class="col-sm">
            <mat-card-subtitle class="m-0 p-0"
              >Latest Submitted Revision
              <button
                *ngIf="data.latestSubmittedRevisions"
                mat-icon-button
                [routerLink]="[
                  '/curriculums',
                  'revisions',
                  data.latestSubmittedRevisions.id
                ]"
              >
                <mat-icon color="primary">remove_red_eye</mat-icon>
              </button>
            </mat-card-subtitle>
            <mat-card-content *ngIf="data.latestSubmittedRevisions">
              <div class="fw-bold fs-6">
                <span>
                  CICT
                  {{
                    data.latestSubmittedRevisions?.curriculum?.department?.department_code.toUpperCase()
                  }}
                  Curriculum version
                  {{ data.latestSubmittedRevisions?.curriculum?.version }}
                </span>
              </div>
              <div>
                <small>{{
                  data.latestSubmittedRevisions?.user?.profile?.name ||
                    "the creator of this revision hasn't set up his/her profile"
                }}</small>
              </div>
              <div>
                <small>{{
                  data.latestSubmittedRevisions.created_at | date
                }}</small>
              </div>
            </mat-card-content>
            <mat-card-content *ngIf="!data.latestSubmittedRevisions">
              <div class="text-center">
                <mat-icon>hourglass_empty</mat-icon>
                <div>
                  <span class="h5">No revisions, yet.</span>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="col-sm">
            <mat-card-subtitle class="m-0 p-0"
              >Latest Curriculum
              <button
                *ngIf="data.latestCurriculum"
                mat-icon-button
                [routerLink]="['/curriculums', data.latestCurriculum.id]"
              >
                <mat-icon color="primary">remove_red_eye</mat-icon>
              </button>
            </mat-card-subtitle>
            <mat-card-content *ngIf="data.latestCurriculum">
              <div class="fw-bold fs-6">
                <span>
                  CICT
                  {{
                    data.latestCurriculum.department.department_code.toUpperCase()
                  }}
                  Curriculum version
                  {{ data.latestCurriculum.version }}
                </span>
              </div>
              <div>
                <small>{{
                  data.latestCurriculum?.user?.profile?.name ||
                    "the creator of this curriculum hasn't set up his/her profile"
                }}</small>
              </div>
              <div>
                <small>{{ data.latestCurriculum.created_at | date }}</small>
              </div>
            </mat-card-content>
            <mat-card-content *ngIf="!data.latestCurriculum">
              <div class="text-center">
                <mat-icon>hourglass_empty</mat-icon>
                <div>
                  <span class="h5">No Curriculum, yet.</span>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <mat-card class="col-sm">
        <app-comment
          *ngIf="data.latestComments.length"
          [comments]="data.latestComments"
        ></app-comment>
        <app-empty-state
          name="comments"
          *ngIf="!data.latestComments.length"
        ></app-empty-state>
      </mat-card>
    </div>

    <div class="row gap-2" *ngIf="role === 'admin'">
      <mat-card class="col-md-6">
        <mat-card-content>
          <div class="pieChart" [chart]="pieChart"></div>
        </mat-card-content>
      </mat-card>
      <mat-card class="col-md-5">
        <mat-card-content>
          <div class="pieChart" [chart]="pieChartSubject"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <app-spinner *ngIf="isLoading"></app-spinner>
  <app-reload-page *ngIf="!isLoading && error"></app-reload-page>
</app-sidenav>
